<div class="move-down">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="well clearfix">
          <h3 class="text-left text-uppercase"><em>New BMC Credential List</em></h3>
          <p class="weight_three">Create a credentials brute-list that will try username/password combinations on system BMCs in the order listed.</p>
          <%= render 'new_form', brute_list: @cred %>
        </div>
      </div>
      <%= link_to 'Back', brute_lists_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
