<div class="clearfix">
  <h3 class="section_title">Onboard Requests</h3>
  <%= render '/layouts/data_load' %>
</div>
<div class="card">
  <div class="card-content">
    <div class="clearfix">
      <h5 class="table-title">Onboard Request List</h5>
      <div class="pull-right">
        <p class="time_dock"><%= t :time_dock %></p>
      </div>
    </div>
    <br>
    <%= render partial: "layouts/filter" %>
    <div class="z-depth-1 overflow-x">
      <table id="onboard_requests_table" class="table striped nowrap" cellspacing="0" width="100%" data-livetype="datatable" data-source="<%= datatable_admin_onboard_requests_path(format: :json) %>">
        <thead>
          <tr>
            <th class="th_id">Request ID</th>
            <th class="th_ob_scan_status">Request Status</th>
            <th class="th_time">Request Time</th>
            <th class="th_url"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.detail_name = 'onboard_request'
</script>
