// HTML, body, and main

html {
  background: $main-background;
  font-family: $main-font;
  font-size: $font-body-size;
  height: 100%;
}
body {
  height: 100%;
}
main {
  font-family: $main-font;
  height: 100%;
}
header {
  float: left;
}

@media (max-widthL 992px) {
  .container-fluid {
    padding: 0;
  }
}

// Logo

.logo {
  font-family: 'Okula Hayir Soft';
  margin-top: 3rem;
}

.logo .title {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 6rem;
}

.logo .subtitle {
  font-size: 3rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

// Log in page

.intro-bg {
  background: url('/images/intro-bg.svg');
  background-color: #1B1A19; //XXX: Change to SASS variable
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

.login-card {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  display: inline-block;
  text-align: left;
}

.version {
  font-size: 0.75rem;
  color: $white;
}

// Container

.container-fluid {
    position: relative;
    padding: 0 $standard-padding;
}

// Invisible

.invisible {
  visibility: hidden;
}

// Horizontal break line

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid $slight-grey;
}

// Overflow-x container class

.overflow-x {
  overflow-x: auto;
}

// Horizontal row

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -15px;
}

// Stand alone margin class

.stand_alone {
  margin-bottom: 1rem;
}

// Special top margin class

.special-top {
  margin-top: 1.4rem;
}

// Async wrapper margin fix

#async_wrapper {
  margin-top: -0.5rem;
}

// Inline-block div

.inline-block-div {
  display: inline-block;
  height: 1rem;
}

// Clearfix

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// Right Float

.pull-right {
  float: right;
}
