<div class="card">
  <div id="height_check" class="card-content grey lighten-5">
    <% if @logger.error? %>
      <% @logger.all.each do |x| %>
      <div class="alert <%= x[:type] %>">
        <p>
          <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
          <%= x[:exception].to_s %>
        </p>
      </div>
      <% end %>
    <% else %>

      <% if !@foreman_extras.empty? %>
        <%= render 'foreman_alert' %>
      <% end %>

      <% if !@dcim_extras.empty? %>
        <%= render 'dcim_alert' %>
      <% end %>

      <% if @foreman_extras.empty? && @dcim_extras.empty? %>
        <div class="alert green lighten-2" role="alert">
          <p>
            <i class="fas fa-check-circle" aria-hidden="true"></i>
            Foreman locations are in sync.
          </p>
        </div>
      <% end %>

    <% end %>

    </div>
  </div>
</div>
