@import "datatables/dataTables.bootstrap4";
@import "datatables/extensions/Responsive/responsive.bootstrap4";
@import "datatables/extensions/Buttons/buttons.bootstrap4";

// Mobile Compatibility

@media only screen and (max-width: 1750px) {
	table#bmc_hosts_table td:nth-child(10), 
	table#bmc_hosts_table th:nth-child(10),
  table#zone_details_table td:nth-child(9),
  table#zone_details_table th:nth-child(9),
  table#bmc_scan_requests_table td:nth-child(8),
  table#bmc_scan_requests_table th:nth-child(8),
  table#bmc_scan_request_details_table td:nth-child(9),
  table#bmc_scan_request_details_table th:nth-child(9) {display: none;}
}
@media only screen and (max-width: 1595px) {
	table#bmc_hosts_table td:nth-child(7),
	table#bmc_hosts_table th:nth-child(7),
  table#zone_details_table td:nth-child(8),
  table#zone_details_table th:nth-child(8),
  table#bmc_scan_requests_table td:nth-child(6),
  table#bmc_scan_requests_table th:nth-child(6),
  table#bmc_scan_request_details_table td:nth-child(8),
  table#bmc_scan_request_details_table th:nth-child(8) {display: none;}
}
@media only screen and (max-width: 1450px) {
  table#bmc_hosts_table td:nth-child(9),
  table#bmc_hosts_table th:nth-child(9) {display: none;}
}
@media only screen and (max-width: 1320px) {
  table#bmc_hosts_table td:nth-child(8),
  table#bmc_hosts_table th:nth-child(8),
  table#zone_details_table td:nth-child(6),
  table#zone_details_table th:nth-child(6),
  table#bmc_scan_request_details_table td:nth-child(6),
  table#bmc_scan_request_details_table th:nth-child(6) {display: none;}
}
@media only screen and (max-width: 1180px) {
  table#bmc_hosts_table td:nth-child(6),
  table#bmc_hosts_table th:nth-child(6),
  table#zone_details_table td:nth-child(7),
  table#zone_details_table th:nth-child(7),
  table#bmc_scan_requests_table td:nth-child(7),
  table#bmc_scan_requests_table th:nth-child(7),
  table#bmc_scan_request_details_table td:nth-child(7),
  table#bmc_scan_request_details_table th:nth-child(7) {display: none;}
}
@media only screen and (max-width: 865px) {
  table#bmc_hosts_table td:nth-child(10),
  table#bmc_hosts_table th:nth-child(10),
  table#bmc_hosts_table td:nth-child(9),
  table#bmc_hosts_table th:nth-child(9),
  table#bmc_hosts_table td:nth-child(8),
  table#bmc_hosts_table th:nth-child(8),
  table#bmc_hosts_table td:nth-child(7),
  table#bmc_hosts_table th:nth-child(7),
  table#bmc_hosts_table td:nth-child(6),
  table#bmc_hosts_table th:nth-child(6),
  table#zone_details_table td:nth-child(7),
  table#zone_details_table th:nth-child(7),
  table#zone_details_table td:nth-child(8),
  table#zone_details_table th:nth-child(8),
  table#zone_details_table td:nth-child(9),
  table#zone_details_table th:nth-child(9),
  table#bmc_scan_requests_table td:nth-child(6),
  table#bmc_scan_requests_table th:nth-child(6),
  table#bmc_scan_requests_table td:nth-child(7),
  table#bmc_scan_requests_table th:nth-child(7),
  table#bmc_scan_requests_table td:nth-child(8),
  table#bmc_scan_requests_table th:nth-child(8),
  table#bmc_scan_request_details_table td:nth-child(6),
  table#bmc_scan_request_details_table th:nth-child(6),
  table#bmc_scan_request_details_table td:nth-child(7),
  table#bmc_scan_request_details_table th:nth-child(7),
  table#bmc_scan_request_details_table td:nth-child(8),
  table#bmc_scan_request_details_table th:nth-child(8),
  table#bmc_scan_request_details_table td:nth-child(9),
  table#bmc_scan_request_details_table th:nth-child(9) {display: block;}

  .dt-checkboxes-cell {
    display: none;
  }

  #top-table {
    background: $lighter-grey;
    border: 20px solid white;
  }
  div.top div.dataTables_length {
    float: none;
    text-align: left;
  }
  div.top div.dataTables_filter {
    float: left;
  }
  .card-content div#height_check table {
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  table, 
  thead, 
  tbody, 
  th, 
  td, 
  tr { 
    display: block;
    overflow: hidden;
  }
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #cred_detail_tbody tr, .dataTables_wrapper div table tbody tr {
    -webkit-box-shadow: $level-1-shadow;
    box-shadow: $level-1-shadow;
    margin-bottom: 20px;
    padding: 10px;
  }
  tr {
    padding: 1rem;
  }
  td { 
    border: none;
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align: left;
  }
  td:before { 
    padding-right: 10px; 
    white-space: nowrap;
    text-align: left;
    font-weight: $font-weight-bold;
    display: block;
  }
  td:before { content: attr(data-title); }
  .table th, .table td {
     padding: 0rem;
     vertical-align: top;
     border-top: 0;
  }
  table.striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  div.serial {
    font-weight: $font-weight-normal;
  }
  div.bottom div.dataTables_info {
    display: none;
  }
  table.table a {
    margin-left: 0;
  }
  p.time_dock {
    display: none;
  }
  h5.table-title {
    position: inherit;
  }
}

// Datatable base style

div.dt-button-info h2 {
  font-weight: $font-weight-light;
  font-size: $h2-standard;
}
table.dataTable.checkboxes-select tbody tr,
table.dataTable thead .checkboxes-select-all {
  cursor: pointer;
}
div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
  margin-left: 0.5em;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected, table.striped tbody tr:nth-of-type(odd).selected {
  background-color: #608096;
  color: #fff;
  box-shadow: $level-1-shadow;
  -webkit-box-shadow: $level-1-shadow;
}
table.striped > tbody > tr:hover, table.striped tbody tr:nth-of-type(odd):hover {
  background-color: #d0d8dd;
  cursor: default;
}
table.striped > tbody > tr.selected:hover, table.striped tbody tr:nth-of-type(odd).selected:hover {
  background-color: #608096;
  cursor: default;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: #b35959;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  background-color: #425563;
  border-radius: 0;
}
div.dataTables_scrollBody table {
  margin-bottom: 20px !important;
}
.dataTables_wrapper {
  background: $lighter-grey;
  padding: 20px;
}
:focus {
  outline: -webkit-focus-ring-color none;
}
.page-item.disabled .page-link, .page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
  background-color: transparent;
}
.page-link:hover {
  color: white;
  text-decoration: none;
  background-color: #A5D6A7;
}
.page-link {
  color: #212121;
}

// Dom element fixes

div div.dataTables_wrapper .top {
  margin-bottom: 0px;
  .dataTables_length { float: left; margin-top: 0.175rem;}
  .dataTables_filter { float: right; }
}
div.dataTables_wrapper .bottom {
  margin-top: 20px;
  div.dataTables_info { float: left; font-size: 0.85rem; padding-top: 0.49rem; }
  .dataTables_paginate { float: right; }
}
@media screen and (max-width: 992px) {
  div.dataTables_wrapper div.dataTables_paginate { margin-right: 25px; }
}

// Datatable button style

.middle {
  margin-bottom: 15px;
  .dt-buttons .btn {
    margin-right: 20px;
    height: 25px;
    padding: 0rem 0.60rem;
    color: #5b6d76 !important;
    line-height: 1.7rem;
  }
  .btn-default:hover, .btn-default:focus, .btn-default:active { background: #eee !important; }
}
@media screen and (max-width: 1040px) {
  .dt-btn-text { display: none; }
}
.dataTables_processing {
  z-index: 2;
}

// FontAwesome integration

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  top: 7px;
  left: 4px;
  font-size: 1.25rem;
  display: block;
  position: absolute;
  color: #0097a7;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  font-family: FontAwesome;
  line-height: 14px;
  content: "\f01a";
  background-color: transparent;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  content: '\f01b';
  background-color: transparent;
  color: #e57373;
}
table.dataTable thead th {
	position: relative;
	background-image: none !important; /* Remove the DataTables bootstrap integration styling */
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
	position: absolute;
	top: 12px;
	right: 8px;
	display: block;
	font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
	content: "\f0dc";
	color: #ddd;
	font-size: 0.8em;
	padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
	content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
	content: "\f0dd";
}

div.dataTables_scrollBody table.dataTable thead th.sorting:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_asc:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_desc:after {
	content: "";
}

/* In Bootstrap and Foundation the padding top is a little different from the DataTables stylesheet */
table.table thead th.sorting:after,
table.table thead th.sorting_asc:after,
table.table thead th.sorting_desc:after {
	top: 8px;
}


/*
 * DataTables style pagination controls
 */
div.dataTables_paginate a.paginate_button.first,
div.dataTables_paginate a.paginate_button.previous {
	position: relative;
	padding-left: 24px;
}

div.dataTables_paginate a.paginate_button.next,
div.dataTables_paginate a.paginate_button.last {
	position: relative;
	padding-right: 24px;
}

div.dataTables_paginate a.first:before, 
div.dataTables_paginate a.previous:before {
	position: absolute;
	top: 8px;
	left: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate a.next:after,
div.dataTables_paginate a.last:after {
	position: absolute;
	top: 8px;
	right: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate a.first:before {
	content: "\f100";
}

div.dataTables_paginate a.previous:before {
	content: "\f104";
}

div.dataTables_paginate a.next:after {
	content: "\f105";
}

div.dataTables_paginate a.last:after {
	content: "\f101";
}


/*
 * Bootstrap and foundation style pagination controls
 */
div.dataTables_paginate li.first > a,
div.dataTables_paginate li.previous > a {
	position: relative;
	padding-left: 24px;
}

div.dataTables_paginate li.next > a,
div.dataTables_paginate li.last > a {
	position: relative;
	padding-right: 24px;
}

div.dataTables_paginate li.first a:before, 
div.dataTables_paginate li.previous a:before {
	position: absolute;
	top: 0;
	left: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate li.next a:after,
div.dataTables_paginate li.last a:after {
	position: absolute;
	top: 0;
	right: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate li.first a:before {
	content: "\f100";
}

div.dataTables_paginate li.previous a:before {
	content: "\f104";
}

div.dataTables_paginate li.next a:after {
	content: "\f105";
}

div.dataTables_paginate li.last a:after {
	content: "\f101";
}

/* In Foundation we don't want the padding like in bootstrap */
div.columns div.dataTables_paginate li.first a:before, 
div.columns div.dataTables_paginate li.previous a:before,
div.columns div.dataTables_paginate li.next a:after,
div.columns div.dataTables_paginate li.last a:after {
	top: 0;
}
