// Base collapsible style

ul.collapsible, .modal-content-collapsible {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: none;
  .collapsible-header {
    border-bottom: none;
    padding: 0.8rem;
    display: block;
  }
  .collapsible-body {
    border-bottom: none;
    border: solid 1px $standard-grey;
    border-top: none;
  }
  hr {
    margin: 0.5rem;
  }
  blockquote.red_line {
    font-size: 1.1rem;
    border-left: 5px solid $primary-red;
    padding-left: 0.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  blockquote.yellow_line {
    font-size: 1.1rem;
    border-left: 5px solid $primary-yellow;
    padding-left: 0.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  blockquote.green_line {
    font-size: 1.1rem;
    border-left: 5px solid $primary-green;
    padding-left: 0.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  blockquote.primary_line {
    font-size: 1.1rem;
    border-left: 5px solid $normal-blue-grey;
    padding-left: 0.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}
