// Sidenav menu trigger

li.sidenav-menu-trigger:hover {
  background-color: $navbar-active-item;
  a i.fa {
    color: white;
  }
}

// Toggle Menu Button

div.navbar-fixed nav { 
  .toggle-extended-menu, .toggle-icon-menu {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    line-height: 25px;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    border-top: 2px solid #e4e4e4;
    color: $sidenav-active-blue;
    padding: 0;
    font-size: 0.9rem;
    text-transform: none;
    span {
      position: absolute;
      top: 8%;
      display: inline-block;
    }
  }
  .toggle-extended-menu:hover, .toggle-icon-menu:hover {
    color: $darker-grey;
    background-color: $navbar-hover-item !important;
  }
  .toggle-extended-menu {
    width: $nav-thickness;
  }
  .toggle-icon-menu {
    width: $side-nav-extended-width;
  }
}
// Extended Sidenav Wrapper

.sidenav-menu-wrapper.extended-sidenav {
  width: $side-nav-extended-width;
}

// Sidenav Menu

.sidenav-menu-wrapper {
  position: fixed;
  top: $nav-thickness;
  bottom: 0;
  left: 0;
  width: $nav-thickness;
  height: 100%;
  background-color: $off-white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  .sidenav-menu-scroller {
    position: relative;
    ul.sidenav-menu {
      overflow: hidden;
      li:hover {
        background: $navbar-hover-item;
        color: $white;
      }
      li {
        ul.sidenav-popout-menu {
          background: $off-white;
          font-size: $font-smaller-size;
          overflow: visible;
          width: 180px;
          li {
            width: 180px;
            height: 47px;
            min-height: 47px;
          }
          li.divider {
            margin-top: 0px;
            height: 1px;
            min-height: 0;
          }
          li.active {
            font-weight: $font-weight-bold;
          }
          li a, li a.sidenav-icon {
            font-size: $font-smaller-size;
            padding: 14px 18px;
            color: #505050;
          }
          li a.sidenav-icon:before {
            font-size: 100%;
            text-align: left;
            width: 29px;
          }
          li a.active-item, li.active a, li.active-item a,
          li.active a.header, li.active-item a.header,
          li a.active-item.header {
            background: $off-white;
            border: none;
            box-shadow: none;
            font-weight: $font-weight-bold;
            color: #467186;
          }
          li a.header {
            font-size: 100%;
            color: #505050;
            font-weight: $font-weight-bold;
          }
          li a.header:hover, li a:hover, li a.sidenav-icon:hover,
          li a.active-item:hover, li.active a:hover,
          li.active-item a:hover {
            color: $sidenav-active-blue;
            background-color: $navbar-hover-item;
          }
        }
        ul.sidenav-popout-menu::before {
          content: "";
          position: absolute;
          top: -20px;
          left: 0;
          right: -20px;
          bottom: -20px;
          z-index: -1;
          //background: rgba(0, 0, 0, 0.3);
        }
        a.sidenav-icon {
          padding: 0;
          color: $lighter-grey;
          font-size: 95%;
          height: $side-nav-menu-height;
          text-transform: none;
        }
        a.active-item {
          box-shadow: inset 4px 0 0 $sidenav-active-blue, inset 1px 1px 1px 0px #ccd0d2, inset 1px 0px 1px 0px #ccd0d2;
        }
        .sidenav-submenu {
          display: none;
          li {
            overflow: hidden;
            height: 0;
            a {
              color: $off-white;
            }
          }
        }
        width: $nav-thickness;
        line-height: 47px;
        overflow: hidden;
        clear: both;
      }
      li.active, li.active-item {
        background: $navbar-active-item;
      }
      li.active:hover, li.active-item:hover {
        background-color: $navbar-hover-item;
      }
      a:hover {
        background-color: transparent;
      } 
    }
    ul.sidenav-menu.extended-menu {
      .menu-is-active {
        left: $side-nav-extended-width;
      }
      li {
        width: $side-nav-extended-width;
        a.sidenav-icon {
          color: #505050;
          box-shadow: none;
          font-size: $font-smaller-size;
        }
        a.active-item {
          font-weight: $font-weight-bold;
          color: #467186;
        }
        ul.sidenav-popout-menu li.top-item {
          display: none;
        }
        ul.sidenav-submenu {
          display: block;
        }
      }
      li.active, li.active-item {
        box-shadow: inset 4px 0 0 $sidenav-active-blue, inset 1px 1px 1px 0px #ccd0d2, inset 1px 0px 1px 0px #ccd0d2;
        ul.sidenav-submenu {
          li {
            height: 100%;
          }
        }
      }
      li.activate-menu.active:hover, li.activate-menu.active-item:hover {
        box-shadow: inset 4px 0 0 $sidenav-active-blue;
      }
      li.active:hover {
        background-color: $navbar-active-item;
      }
      li.active a.sidenav-icon-onboard:hover {
        color: $sidenav-active-blue;
        background-color: $navbar-hover-item;
        box-shadow: inset 4px 0 0 $sidenav-active-blue;
      }
      li a.header:hover, li a:hover, li a.sidenav-icon:hover,
      li a.active-item:hover,
      li.active-item a:hover {
        color: $sidenav-active-blue;
      }
      ul.dropdown-content a.sidenav-icon::before {
        width: 25px;
      }
      ul.sidenav-submenu {
        li {
          width: 196px;
          margin-left: 4px;
          a {
            margin-left: 25px;
          }
        }
      }
    }
  }
}

// Use This if we go back to CSS pure version
//li.activate-menu:hover > .sidenav-popout-menu {

.menu-is-active {
  display: block;
  opacity: 1;
  left: $nav-thickness;
  margin-top: -$side-nav-menu-height;
}

.sidenav-menu-wrapper > li :after {
  display: table;
  clear: both;
  content: '';
}

// Sidenav Icons

a.active-item.sidenav-icon::before {
  color: #f1a100;
}

li.activate-menu:hover > .sidenav-icon::before, li:hover > .sidenav-icon::before {
  filter: brightness(95%);
}

.sidenav-icon::before, .toggle-extended-menu::before, .toggle-icon-menu::before {
  display: inline-block;
  width: $nav-thickness;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'FontAwesome';
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.toggle-extended-menu::before, .toggle-icon-menu::before {
  font-size: 1.5rem;
}

.sidenav-icon::before {
  font-size: 1.1rem;
  color: #467186;
}

.sidenav-icon-onboard::before {
  content: "\f002";
}

.sidenav-icon-server::before {
  content: "\f233";
}

.sidenav-icon-zone::before {
  content: "\f0f7";
}

.sidenav-icon-list::before {
  content: "\f0cb";
}

.sidenav-icon-card::before {
  content: "\f2c3";
}

.sidenav-icon-upload::before {
  content: "\f093";
}

.toggle-extended-menu::before {
  content: "\f101";
}

.toggle-icon-menu::before {
  content: "\f100";
}
