// Fixed side nav bar

.side-nav.fixed {
  letter-spacing: $no-letter-spacing;
  transition-duration: $default-transition-duration;
  color: $white;
  max-width: $side-nav-width;
  a {
    padding-left: 10px;
    padding-right: 0px;
    display: block;
    height: $side-nav-height;
    line-height: $side-nav-height;
    text-transform: none;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 1.07em;
    -o-transition: .35s;
    -ms-transition: .35s;
    -moz-transition: .35s;
    -webkit-transition: .35s;
    transition: .35s;
    color: $white;
  }
  a.active-item {
    background: $navbar-active-item;
  }
  .logo-wrapper {
    height: 62px;
    padding: 5px;
    padding-top: 8%;
    font-weight: $font-weight-normal;
    text-align: center;
    line-height: 6.5px;
    background: $white;
    border-bottom: $navbar-border-color 1px solid;
    margin-bottom: 12px;
    .lead {
      color: $navbar-orange;
      font-size: 1.05em;
      font-weight: $font-weight-semi-bold;
    }
  }
  .fa-angle-down.rotate-icon {
    min-width: 0;
    position: absolute;
    webkit-transition: all 150ms ease-in 0s;
    transition: all 150ms ease-in 0s;
  }
  li.direct_link {
    padding-left: 0.5rem;
    padding-right: 0.7rem;
  }
  li.active {
    background-color: transparent;
    a.active .rotate-icon {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: all 150ms ease-in 0s;
      transition: all 150ms ease-in 0s;
    }
  }
  li > a {
    color: $white;
    > i {
      color: $navbar-orange;
      margin-right: 5px;
      min-width: 20px;
      font-size: $font-standard-size;
      line-height: 35px;
      float: none;
    }
  }
  li > a:hover { background: $navbar-hover-item; }
  .collapsible {
    margin-right: -5px;
    a {
      text-transform: none;
      margin-bottom: 0px;
      font-weight: 400;
      font-size: 1.07em;
      text-transform: none;
      text-transform: none;
      -o-transition: .35s;
      -ms-transition: .35s;
      -moz-transition: .35s;
      -webkit-transition: .35s;
      transition: .35s;
      color: $white;
      height: $side-nav-height;
      line-height: $side-nav-height;
    }
    a:hover {
      background: $navbar-hover-item;
    }
    li a:hover {
      background: $navbar-hover-item;
    }
  }
  .collapsible > li {
    padding-left: 0.5rem;
    padding-right: 1rem;
    border-radius: 2px;
    a.collapsible-header:hover {
      background: $navbar-hover-item;
    }
  }
  .collapsible-header {
    padding: 0 8px;
  }
  .collapsible-body {
    background-color: transparent;
    li {
      height: 35px;
      margin-bottom: 5px;
      margin-top: 5px;
      a {
        padding-left: 40px;
        font-size: $font-standard-size;
        line-height: 35px;
        height: 35px;
        background: none;
      }
    }
    a.active-item {
      background: $navbar-active-item
    }
    .fa {
      font-size: 0.80rem;
    }
  }
}
