// Top fixed nav

.navbar-fixed {
  height: $nav-thickness;
  z-index: 801;
  .nav-wrapper .bc_nav {
    color: $navbar-orange-breadcrumb;
    font-size: 0.8rem;
    line-height: $nav-thickness;
    padding-left: 10px;
  }
  nav {
    a {
      color: $white;
    }
    // Side-nav hamburger
    a.button-collapse {
      height: 45px;
      line-height: 45px;
      margin: 0 14px;
      i.fa-bars {
        height: 45px;
        line-height: 45px;
        color: $off-white;
        font-size: 1.2rem;
      }
    }
    // Nav top-right menu
    ul.right {
      margin-top: 8.5px;
      margin-right: 10px;
      li {
        margin: 0 2px;
        a.nav-menu {
          font-size: 0.8rem;
          display: block;
          font-weight: $font-weight-light;
          height: 28px;
          line-height: 28px;
          padding: 0 10px;
          i.fa, i.fas, i.far {
            line-height: 28px;
            height: 28px;
            font-size: 0.9rem;
          }
        }
        ul.dropdown-content {
          overflow-x: hidden;
          li a {
            color: $black;
            font-size: 0.8rem;
          }
        }
      }
      li:hover {
        background-color: transparent;
      }
      li.active {
        a {
          color: $navbar-orange-breadcrumb;
        }
      }
    }
  }
}

div nav {
  background-color: $deep-blue-grey;
  height: $nav-thickness;
  line-height: $nav-thickness;
}
