<h3>Scanned BMC Hosts</h3>

<div class="card ovf-hidden">
  <div class="card-block">
    <div id="async_wrapper">
      <%= render_async api_bmc_scan_request_path %>
    </div>
    <a class='btn btn-outline-default waves-effect activator' id="form_reveal">???</a>
    </div>

  <div class="card-reveal">
  </div>

</div>

<hr class="invisible">
<div class="card">
  <div class="card-block">
    <div class="clearfix">
      <h5 class="table-title">BMC Scanned Host List</h5>
      <div class="pull-right">
        <p class="time_dock"><%= t :time_dock %></p>
      </div>
    </div>
    <div class="overlay-container">
      <%= render '/layouts/loading_overlay' %>
      <div class="table-responsive">
        <table id="bmc_hosts_table" class="table table-striped nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>BMC Address</th>
              <th>System Model</th>
              <th>Serial</th>
              <th>Power Status</th>
              <th>Last Sync Status</th>
              <th>Onboarded</th>
              <th>Synchronize Date</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.detail_name   = 'bmc_host'
  document.detail_associations   = []
  document.plurals['bmc_host']   = 'bmc_hosts'
  $("form#ajax_card_form").on("ajax:success", function() {
    $("form#ajax_card_form")[0].reset();
  });
</script>

