div#dif_alert {
  background-color: #798D8F;
}
div#dif_alert div.well {
  background-color: #798D8F;
  color: white;
}
div#dif_alert div.well table.table {
  display: inline-block;
  border: 1px solid;
  max-width: 250px;
  padding: 20px;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.zone-delete {
  margin-top: 25px
}
#error_explanation.modal_error {
  display: none;
  margin-bottom: 20px;
  text-align:  left;
}
#success_explanation {
  display: none;
  color: white;
  background-color: #18BC9C;
  width: 380px;
  border: 1px solid #545454;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  text-align: left;
}
@media screen and (max-width: 880px) {
  .zone-delete { margin-top: 28px; }
}
#waiting_explanation {
  display: none;
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
}
