<!--<div class="visual_dc_wrapper">-->
</div>
<!--
<div class="clearfix">
  <h3 class="section_title">Zone Layout</h3>
  <%= render '/layouts/data_load' %>
</div>
-->
<div id="visual_dc" data-zone-id="<%= @zone.id %>">
</div>
<div>
