<div class="move-down">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="well clearfix">
          <h3 class="text-left text-uppercase"><em>New Datacenter Zone</em></h3>
          <p class="weight_three">Create a datacenter zone.</p>
          <%= render 'new_form', zone: @zone %>
        </div>
      </div>
      <%= link_to 'Back', zones_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
