<form id="filters">
  <div class="row form">
    <% @filters.each do |record_name, attributes| %>
      <% attributes.each do |attribute, enum| %>
        <div class="form-group">
          <%= label_tag "#{record_name}[#{attribute}]", t(record_name, scope: "filters.records", default: record_name) + " " + t(attribute, scope: "filters.attributes.#{record_name}", default: attribute) %>
          <% options = enum.map {|option, number| [t(option, scope: "filters.options.#{record_name}.#{attribute}", default: option), number]} %>
          <% options = options.unshift(["Select a filter", "blank"]) %>
          <%= select_tag "#{record_name}[#{attribute}][]", options_for_select(options, disabled: "blank"), multiple: true, class: "m_select ajax_reload" %>
        </div>
      <% end %>
    <% end %>
  </div>
</form>
