// Define Local Fonts
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: font-url("Roboto-300/Roboto-300.eot");
  src: font-url("Roboto-300/Roboto-300.eot?#iefix") format("embedded-opentype"), local("Roboto Light"), local("Roboto-300"), url("Roboto-300/Roboto-300.woff2") format("woff2"), url("Roboto-300/Roboto-300.woff") format("woff"), url("Roboto-300/Roboto-300.ttf") format("truetype"), url("Roboto-300/Roboto-300.svg#Roboto") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: font-url("Roboto-regular/Roboto-regular.eot");
  src: font-url("Roboto-regular/Roboto-regular.eot?#iefix") format("embedded-opentype"), local("Roboto"), local("Roboto-regular"), url("Roboto-regular/Roboto-regular.woff2") format("woff2"), url("Roboto-regular/Roboto-regular.woff") format("woff"), url("Roboto-regular/Roboto-regular.ttf") format("truetype"), url("Roboto-regular/Roboto-regular.svg#Roboto") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: font-url("Roboto-500/Roboto-500.eot");
  src: font-url("Roboto-500/Roboto-500.eot?#iefix") format("embedded-opentype"), local("Roboto Medium"), local("Roboto-500"), url("Roboto-500/Roboto-500.woff2") format("woff2"), url("Roboto-500/Roboto-500.woff") format("woff"), url("Roboto-500/Roboto-500.ttf") format("truetype"), url("Roboto-500/Roboto-500.svg#Roboto") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: font-url("Roboto-700/Roboto-700.eot");
  src: font-url("Roboto-700/Roboto-700.eot?#iefix") format("embedded-opentype"), local("Roboto Bold"), local("Roboto-700"), url("Roboto-700/Roboto-700.woff2") format("woff2"), url("Roboto-700/Roboto-700.woff") format("woff"), url("Roboto-700/Roboto-700.ttf") format("truetype"), url("Roboto-700/Roboto-700.svg#Roboto") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: font-url("Lato-300/Lato-300.eot");
  src: font-url("Lato-300/Lato-300.eot?#iefix") format("embedded-opentype"), local("Lato Light"), local("Lato-300"), url("Lato-300/Lato-300.woff2") format("woff2"), url("Lato-300/Lato-300.woff") format("woff"), url("Lato-300/Lato-300.ttf") format("truetype"), url("Lato-300/Lato-300.svg#Lato") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: font-url("Lato-regular/Lato-regular.eot");
  src: font-url("Lato-regular/Lato-regular.eot?#iefix") format("embedded-opentype"), local("Lato Regular"), local("Lato-regular"), url("Lato-regular/Lato-regular.woff2") format("woff2"), url("Lato-regular/Lato-regular.woff") format("woff"), url("Lato-regular/Lato-regular.ttf") format("truetype"), url("Lato-regular/Lato-regular.svg#Lato") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: font-url("Lato-700/Lato-700.eot");
  src: font-url("Lato-700/Lato-700.eot?#iefix") format("embedded-opentype"), local("Lato Bold"), local("Lato-700"), url("Lato-700/Lato-700.woff2") format("woff2"), url("Lato-700/Lato-700.woff") format("woff"), url("Lato-700/Lato-700.ttf") format("truetype"), url("Lato-700/Lato-700.svg#Lato") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: font-url("Lato-300italic/Lato-300italic.eot");
  src: font-url("Lato-300italic/Lato-300italic.eot?#iefix") format("embedded-opentype"), local("Lato Light Italic"), local("Lato-300italic"), url("Lato-300italic/Lato-300italic.woff2") format("woff2"), url("Lato-300italic/Lato-300italic.woff") format("woff"), url("Lato-300italic/Lato-300italic.ttf") format("truetype"), url("Lato-300italic/Lato-300italic.svg#Lato") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: font-url("Lato-italic/Lato-italic.eot");
  src: font-url("Lato-italic/Lato-italic.eot?#iefix") format("embedded-opentype"), local("Lato Italic"), local("Lato-italic"), url("Lato-italic/Lato-italic.woff2") format("woff2"), url("Lato-italic/Lato-italic.woff") format("woff"), url("Lato-italic/Lato-italic.ttf") format("truetype"), url("Lato-italic/Lato-italic.svg#Lato") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: font-url("Lato-700italic/Lato-700italic.eot");
  src: font-url("Lato-700italic/Lato-700italic.eot?#iefix") format("embedded-opentype"), local("Lato Bold Italic"), local("Lato-700italic"), url("Lato-700italic/Lato-700italic.woff2") format("woff2"), url("Lato-700italic/Lato-700italic.woff") format("woff"), url("Lato-700italic/Lato-700italic.ttf") format("truetype"), url("Lato-700italic/Lato-700italic.svg#Lato") format("svg");
}

// Set General Elements
body {
  font-family: 'Roboto', sans-serif;
  background-color: #D0CEC7;
  padding: 70px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bg-primary {
  background-color: #425563;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  letter-spacing: 2px;
}
.show_title {
  background-color: #f9f9f9;
  padding: 5px;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid;
  font-size: 24px;
}
.list {
  margin-top: 21px;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
}
.table-select {
  margin-top: 0px;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  text-align: center;
  border-right: none;
}
.navbar-default {
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.3);
  background-color: #798D8F;
  border-bottom: 1px solid black;
}
.nav-tabs {
  > li {
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    max-width: 210px;
    > a:hover {
      border-color: #bbb;
    }
    &.active > a {
      color: #fff !important;
      background-color: #798D8F;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
      border: 1px solid black;
      &:hover, &:focus {
        color: #fff !important;
        background-color: #798D8F;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
        border: 1px solid black;
      }
    }
    > a {
      margin-right: 0;
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 3px 10px;
      font-size: 13px;
    }
  }
  border-bottom: none;
  font-family: 'Lato';
}
ul.nav.nav-tabs li a {
  color: #848080;
}
.nav li a .fa {
  font-size: 22px;
  padding-top: 2px;
  color: #e6ab3b;
}
.table {
  margin-bottom: 0px;
}
table, .table {
  font-size: 14px;
  margin-bottom: 20px;
}
.darker {
  background-color: #7F8C93;
  color: white;
}
#action_cable_row {
  display: none;
}
.progress {
  height: 13px;
  width: 150px;
  border-radius: 1px;
  margin-bottom: 3px;
  overflow: visible !important;
  display: none;
  background: rgba(189, 187, 187, 1);
  background: -webkit-linear-gradient(top, rgba(158, 158, 158, 1) 0%, rgba(189, 187, 187, 1) 100%);
  background: linear-gradient(to bottom, rgba(158, 158, 158, 1) 0%, rgba(189, 187, 187, 1) 100%);
  border: 1px solid #b8b8b8;
}
.progress-bar {
  background: rgba(74, 126, 171, 1);
  background: -webkit-linear-gradient(top, rgba(167, 174, 181, 1) 0%, rgba(74, 126, 171, 1) 100%);
  background: linear-gradient(to bottom, rgba(167, 174, 181, 1) 0%, rgba(74, 126, 171, 1) 100%);
  padding: 2px;
  overflow: visible !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.progress .progress-bar {
  font-size: 11px;
  line-height: 8px;
  font-weight: 600;
}
.progress-bar-striped {
  background-color: rgba(74, 126, 171, 1);
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress_finish {
  color: #18bc9c;
  font-weight: 600;
}
.progress_initial {
  color: #E0AB57;
  font-weight: 500;
}
.progress_error {
  color: #CA7373;
  font-weight: 600;
}
.prov_message {
  font-size: 11px;
  font-weight: 600;
}
.model_cell {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
}
.img-box {
  float: left;
  width: 57px;
  margin-right: 10px;
}
.panel {
  border: none;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
  background-color: #E2E2E2;
  border: solid 1px;
}
.panel-default > .panel-heading {
  color: #fff;
  background-color: #425563;
  border-color: #425563;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Lato';
}
.form-control {
  border: 2px solid #697177;
}
.squeeze-text {
  width: 45%;
  border: 1px solid #697177;
  margin-left: 7px;
  font-size: 20px;
  font-weight: 500;
}
.modal-dialog {
  width: 65%;
}
.modal-header {
  color: white;
  background-color: #608096;
}
.modal-footer {
  background-color: #E2E2E2;
  padding: 0px 20px 20px 20px;
}
.modal-body {
  background-color: #E2E2E2;
}
.modal-content {
  border: 4px solid;
  border-radius: 2px;
}
a {
  color: #FFAB2F;
  &:hover, &:focus {
    color: #FFAB2F;
    text-decoration: none;
  }
}
.btn {
  margin-bottom: 10px;
  border-width: 1px;
  padding: 5px 10px;
  font-family: 'Lato';
  font-weight: 600;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  &:hover, &:active, &:focus, &.focus {
    outline: none !important;
  }
}
.black-btn {
  padding: 3px 7px;
  border-radius: 2px;
  background-color: #ccc;
  border-color: #000;
  color: #000;
  outline: none;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
  &:active {
    &:hover, &:focus {
      background-color: #ababab;
      outline: none;
    }
    background-color: #ababab;
    outline: none;
  }
  &:focus, &:hover {
    background-color: #ababab;
    outline: none;
  }
  &:active {
    box-shadow: 0 0 0 !important;
  }
}
.time_dock {
  font-size: 13px;
  padding-top: 10px;
  padding-right: 10px;
}
.panel {
  border-radius: 2px;
}
.well {
  border-radius: 2px;
  background-color: #E2E2E2;
  position: relative;
  margin-bottom: 0;
}
.btn-info {
  background-color: #83a7bf;
  &:active {
    &:hover, &:focus, &.focus {
      background-color: #5e86a0;
      border-color: #000;
    }
  }
  &.active {
    &:hover, &:focus, &.focus {
      background-color: #5e86a0;
      border-color: #000;
    }
  }
}
.open > .btn-info.dropdown-toggle {
  &:hover, &:focus, &.focus {
    background-color: #5e86a0;
    border-color: #000;
  }
}
.btn-info {
  &:hover, &:focus, &.focus, &:active, &.active {
    background-color: #5e86a0;
    border-color: #000;
  }
}
.open > .btn-info.dropdown-toggle {
  background-color: #5e86a0;
  border-color: #000;
}
.btn-danger {
  background-color: #bc5e54;
  border-color: #000;
}
.btn-warning {
  background-color: #e0ab57;
  border-color: #000;
  &:active {
    &:hover, &:focus, &.focus {
      border-color: #000;
    }
  }
  &.active {
    &:hover, &:focus, &.focus {
      border-color: #000;
    }
  }
}
.open > .btn-warning.dropdown-toggle {
  &:hover, &:focus, &.focus {
    border-color: #000;
  }
}
.btn-warning {
  &:active, &.active {
    border-color: #000;
  }
}
.open > .btn-warning.dropdown-toggle, .btn-warning:hover {
  border-color: #000;
}
.btn-default {
  &:active {
    &:hover, &:focus, &.focus {
      border-color: #000;
      outline: none;
    }
  }
  &.active {
    &:hover, &:focus, &.focus {
      border-color: #000;
      outline: none;
    }
  }
}
.open > .btn-default.dropdown-toggle {
  &:hover, &:focus, &.focus {
    border-color: #000;
    outline: none;
  }
}
.btn-default:hover {
  border-color: #000;
}
.btn-danger {
  &:active {
    &:hover, &:focus, &.focus {
      background-color: #9e4238;
      border-color: #000;
    }
  }
  &.active {
    &:hover, &:focus, &.focus {
      background-color: #9e4238;
      border-color: #000;
    }
  }
}
.open > .btn-danger.dropdown-toggle {
  &:hover, &:focus, &.focus {
    background-color: #9e4238;
    border-color: #000;
  }
}
.btn-danger {
  &:hover, &:focus, &.focus, &:active, &.active {
    background-color: #9e4238;
    border-color: #000;
  }
}
.open > .btn-danger.dropdown-toggle {
  background-color: #9e4238;
  border-color: #000;
}
.btn-success {
  &:active {
    &:hover, &:focus, &.focus {
      border-color: #000;
    }
  }
  &.active {
    &:hover, &:focus, &.focus {
      border-color: #000;
    }
  }
}
.open > .btn-success.dropdown-toggle {
  &:hover, &:focus, &.focus {
    border-color: #000;
  }
}
.btn-success {
  &:hover {
    border-color: #000;
  }
  &.disabled {
    &:hover, &:focus, &.focus {
      border: 1px solid #000;
    }
  }
  &[disabled] {
    &:hover, &:focus, &.focus {
      border: 1px solid #000;
    }
  }
}
fieldset {
  margin-bottom: 40px;
}
fieldset[disabled] .btn-success {
  &:hover, &:focus, &.focus {
    border: 1px solid #000;
  }
}
.btn {
  &.disabled, &[disabled] {
    opacity: 0.35;
  }
}
fieldset[disabled] .btn {
  opacity: 0.35;
}
.btn-small {
  padding: 2px 5px !important;
  font-size: 13px !important;
  margin-bottom: 0px !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-family: 'Lato';
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid black;
}
.alert {
  padding: 10px;
  border-radius: 2px;
}
.alert-info {
  background-color: #425563 !important;
  border-color: #000 !important;
}
.alert-danger {
  background-color: #BC5E54;
  border: 1px solid #000;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.alert-success {
  border: 1px solid #000;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.alert p .fa {
  margin-right: 5px;
}
@-moz-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@-webkit-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
.throbber-loader:not(:required) {
  -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
  font-size: 4px;
  &:before, &:after {
    background: #dde2e7;
    content: '\x200B';
    display: inline-block;
    width: 0.9em;
    height: 1.5em;
    position: absolute;
    top: 0;
  }
  &:before {
    -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
    animation: throbber-loader 2000ms 150ms infinite ease-out;
    left: -1.6em;
  }
  &:after {
    -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
    animation: throbber-loader 2000ms 450ms infinite ease-out;
    right: -1.6em;
  }
}
.move-down {
  margin-top: 20px;
}
.table-modal {
  max-height: 300px;
  margin-bottom: 20px;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.in {
  opacity: 1;
}
.waiting {
  color: #e8b058;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.responded {
  color: #42a38f;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.no-respond {
  color: #BC5E54;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.panel-body span {
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.panel-left {
  max-width: 48.5%;
  float: left;
}
.panel-right {
  max-width: 48.5%;
  float: right;
}
.overlay {
  display: none;
  width: 97.5%;
  height: 580px;
  z-index: 1000;
  position: absolute;
  background: rgba(252, 252, 252, 0.6);
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  margin-top: -3px;
  margin-left: -3px;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.inner-overlay {
  position: relative;
  width: 90px;
  height: 80px;
  top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}
.overlay .fa {
  color: rgba(131, 167, 191, 0.7);
  margin-top: 10px;
}
.fa-spin {
  -webkit-animation: fa-spin 0.7s infinite linear;
  animation: fa-spin 0.5s infinite linear;
}
.overlay p {
  margin-top: 10px;
  font-family: 'Lato';
  font-weight: 600;
  font-style: italic;
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(109, 114, 117, 0.7);
}
.power_on {
  background-color: #18bc9c;
  color: white;
  padding: 2px;
  text-align: center;
  width: 50px;
  border: 1px solid #48615c;
  border-radius: 2px;
  font-family: 'Lato';
  font-size: 13px;
}
.power_off {
  background-color: #ca7373;
  color: white;
  padding: 2px;
  text-align: center;
  width: 50px;
  border: 1px solid #614848;
  border-radius: 2px;
  font-family: 'Lato';
  font-size: 13px;
}
table > {
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    outline: none;
  }
}
.table > {
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    outline: none;
  }
}
.no-select {
  background-color: whitesmoke;
  color: #d6d6d6;
  &:hover {
    color: #fff;
  }
}
span .button_text {
  padding-left: 7px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 600;
}
@media screen and (max-width: 991px), screen and (max-height: 375px) {
  .nav-tabs > li {
    float: left;
    width: 25%;
  }
  .list {
    position: relative;
  }
  .panel-left, .panel-right { float: left; max-width: 100%; font-size: 13px; }
}
@media screen and (max-width: 880px) {
  .btn, .nav-tabs > li > a { font-size: 12px; }
  div#error_explanation { width: 255px; font-size: 13px; }
}
@media screen and (max-width: 715px) {
  .nav-tabs > li { float: none; width: 100%; }
  div.actions, div.actions-up { position: relative; padding-right: 0; bottom: 0; margin-bottom: -20px;}
  div.actions input.pull-right, div.actions-up input.pull-right { float: none !important;}
}
@media screen and (max-width: 475px) {
  .time_dock {
    display: none;
  }
  h5.table-select {
    font-size: 11px;
  }
  h3.text-left {
    font-size: 12px;
  }
  .btn, .nav-tabs > li > a {
    font-size: 11px;
  }
  .weight_three {
    font-size: 13px;
  }
  div#error_explanation { width: 155px; font-size: 12px; }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
[data-role="dynamic-fields"] > .form-inline + .form-inline {
  margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
  display: none;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
  display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
  display: none;
}
.btn-form {
  margin-bottom: 0;
  padding: 2px 5px;
  font-family: 'Roboto';
  font-size: 12px;
  margin-left: 4px;
}
.btn-form .glyphicon {
  top: 2px;
}
#group-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
}
.field_contain .form-inline label {
  font-weight: 400;
  font-size: 13px;
}
.form-container {
  max-width: 520px;
  margin-bottom: 12px;
  color: white;
  background-color: #758c98;
  padding: 10px;
  border-radius: 2px;
  border: solid 1px #2d2d2d;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.input-sm {
  max-width: 215px;
}
.weight_three {
  font-weight: 300;
  margin-bottom: 25px;
}
@media (min-width: 768px) and (max-width: 850px) {
  div.container { width: 650px; }
}
@media (max-width: 768px) {
  .form-container input { margin-bottom: 5px; }
}
.field_with_errors {
  display: inline;
}
#error_explanation {
  color: white;
  background-color: #c37171;
  width: 380px;
  margin-bottom: -9px;
  border: 1px solid #545454;
  padding-top: 10px;
  padding-right: 25px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.actions {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 20px;
}
.actions-up {
  position: absolute;
  right: 0;
  bottom: 40px;
  padding-right: 20px;
}
