//Fix fields on new view
@media screen and (max-width: 1155px) {
  .form-container input.input-sm { max-width: 115px; }
}
@media screen and (max-width: 991px) {
  .form-container input.input-sm { max-width: 215px; }
}
//Smaller labels to fix some overlap issues
label {
  font-size: 14px;
}
//Remove icon for edit screen
#del_credrow {
  margin-bottom: 0;
  font-family: 'Roboto';
  margin-left: 4px;
}
//Adjust height of row_order class
.row_order {
  line-height: 2.4;
}
//Remove float for Cred Edit Update button
@media screen and (max-width: 1200px) {
  #edit_cred_submit { float: none !important }
}
form#new_brute_list #error_explanation {
  margin-top: 20px;
  margin-bottom: -48px;
}
