//Background Colors
$main-background: #E4E5E6;
$table-background: #efefef;

//Navbar Colors
$navbar-border-color: #333;
$navbar-orange: #ffab00;
$navbar-hover-item: #566773;
$navbar-active-item: #627582;

//Form Colors
$form-white: #fbfbfb;
$form-border-color: #3F729B;

//Button Colors
$button-text: #4c5a5f;
$green-btn-outline: #81c784;
$orange-btn-outline: #FF8800;
$blue-btn-outline: #0099CC;
