@import "datatables/dataTables.bootstrap4";
@import "datatables/extensions/Responsive/responsive.bootstrap4";
@import "datatables/extensions/Buttons/buttons.bootstrap4";
@import "datatables/extensions/RowReorder/rowReorder.bootstrap4";
table.dataTable.checkboxes-select tbody tr,
table.dataTable thead .checkboxes-select-all {
  cursor: pointer;
}
div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
  margin-left: 0.5em;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
  background-color: #608096;
  color: #fff;
}
.table-striped > tbody > tr:hover {
  background-color: #d0d8dd;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: #b35959;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  background-color: #425563;
  border-radius: 0;
}
div.dataTables_scrollBody table {
  margin-bottom: 20px !important;
}
div.dataTables_wrapper {
  span {
    &.select-info, &.select-item {
      margin-left: 0.0em;
    }
  }
  div.dataTables_paginate ul.pagination {
    border: 1px solid;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  }
}
.dataTables_info, .dataTables_paginate {
  font-weight: 600;
}
div.dataTables_wrapper div.dataTables_filter input {
  width: 120px;
}
.dataTables_paginate .pagination > {
  li > {
    a, span {
      padding: 5px 10px;
    }
  }
  .disabled > {
    span {
      background-color: #88ccbe;
      &:hover, &:focus {
        background-color: #88ccbe;
      }
    }
    a {
      background-color: #88ccbe;
      &:hover, &:focus {
        background-color: #88ccbe;
      }
    }
  }
  li > {
    a {
      &:hover, &:focus {
        background-color: #13937b;
      }
    }
    span {
      &:hover, &:focus {
        background-color: #13937b;
      }
    }
  }
  .active > {
    a {
      background-color: #13937b;
      &:hover, &:focus {
        background-color: #13937b;
      }
    }
    span {
      background-color: #13937b;
      &:hover, &:focus {
        background-color: #13937b;
      }
    }
  }
}
//Button Rules
.copy_button {
  background-color: #fdfeff;
  border-color: #000;
  color: rgba(49, 49, 49, 0.81) !important;
  &:active {
    &:hover, &:focus {
      background-color: #929292;
      border-color: #000;
      color: #fff !important;
    }
    background-color: #929292;
    border-color: #000;
    color: #fff !important;
  }
  &:focus, &:hover {
    background-color: #929292;
    border-color: #000;
    color: #fff !important;
  }
}
.csv_button {
  &:active {
    &:hover, &:focus {
      background-color: #62b1a2;
      border-color: #000;
      color: #2d2d2d;
    }
    background-color: #62b1a2;
    border-color: #000;
    color: #2d2d2d;
  }
  &:focus, &:hover {
    background-color: #62b1a2;
    border-color: #000;
    color: #2d2d2d;
  }
}
.select_all_button {
  &:active {
    &:hover, &:focus {
      background-color: #7794a9;
      border-color: #000;
      color: #2d2d2d;
    }
    background-color: #7794a9;
    border-color: #000;
    color: #2d2d2d;
  }
  &:focus, &:hover {
    background-color: #7794a9;
    border-color: #000;
    color: #2d2d2d;
  }
}
.select_none_button {
  &:active {
    &:hover, &:focus {
      background-color: #a57171;
      color: #2d2d2d;
      border-color: #000;
    }
    background-color: #a57171;
    color: #2d2d2d;
    border-color: #000;
  }
  &:focus, &:hover {
    background-color: #a57171;
    color: #2d2d2d;
    border-color: #000;
  }
}
.csv_button {
  background-color: #51988b;
  border-color: #000;
}
.select_all_button {
  background-color: #608096;
  border-color: #000;
}
.select_none_button {
  background-color: #b58989;
  border-color: #000;
}

//General Media Rules
@media screen and (max-width: 640px) {
  div.dataTables_wrapper span.select-info,
  div.dataTables_wrapper span.select-item {
    margin-left: 0;
    display: block;
  }
}
@media screen and (max-width: 991px) {
  div.dataTables_wrapper div.dataTables_paginate { margin-top: -30px; }
}
@media screen and (max-width: 768px) {
  div.dataTables_wrapper div.dataTables_paginate { margin-top: 0; }
  #detail_table_paginate {  margin-top: 10px; }
  #detail_table_length, #detail_table_filter { float: none; }
  #detail_table_wrapper .dt-buttons { display: inline-block; margin-top: 10px; }
  div.dataTables_wrapper div.dataTables_filter label input { width: 100px; }
}
@media screen and (max-width: 475px) {
  div.dataTables_wrapper div.dataTables_filter label input { width: 90%; display: block; }
  div.dataTables_wrapper div {
    &.dataTables_length select { width: 100%; display: block; }
    &.dataTables_info { font-size: 10px; }
    &.dataTables_paginate ul.pagination { font-size: 10px; border: none; box-shadow: none; }
  }
  .dataTables_info { display: none; }
  div#main_header div.well { padding-left: 0 }
}

//Cred,Zone Table Rules
@media (min-width: 768px) {
  #cred_table_wrapper div div.col-sm-12.col-md-6:nth-of-type(1),  #cred_table_wrapper div div.col-sm-12.col-md-6:nth-of-type(2) { width: 50%; }
  #zone_table_wrapper div div.col-sm-12.col-md-6:nth-of-type(1),  #zone_table_wrapper div div.col-sm-12.col-md-6:nth-of-type(2) { width: 50%; }
}
//Cred Detail Table Rules
@media screen and (max-width: 991px) {
  div.dataTables_wrapper #cred_detail_table_filter { margin-top: -50px; }
}
@media screen and (max-width: 768px) {
  div.dataTables_wrapper #cred_detail_table_filter { margin-top: 0; }
}

//Detail Table Rules
#detail_table_wrapper {
  padding: 20px;
}
#detail_table {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-image: initial;
  border-top: 0px;
}
#detail_table_length {
  float: right;
}
#detail_table_filter {
  float: left;
}
#detail_table_wrapper {
  .dt-buttons {
    display: block;
    margin-top: 54px;
  }
  div .btn-default:active {
    box-shadow: 0 0 0;
  }
}
#detail_table_wrapper div {
  .btn-default {
    outline: none;
    margin-right: 5px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 3px 7px;
  }
  div div table thead {
    background: #7f8c93;
    color: white;
    border: 1px solid black;
    display: block;
  }
}
#detail_table_info span.select-info {
  display: block;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  #detail_table_paginate {
    margin-top: 10px;
  }
  #detail_table_length, #detail_table_filter {
    float: none;
  }
  #detail_table_wrapper .dt-buttons {
    display: inline-block;
    margin-top: 10px;
  }
}
