//Font
@font-face {
	font-family: 'Roboto Condensed';
	src: url('roboto-condensed/RobotoCondensed-BoldItalic.eot');
	src: url('roboto-condensed/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('roboto-condensed/RobotoCondensed-BoldItalic.woff2') format('woff2'),
		url('roboto-condensed/RobotoCondensed-BoldItalic.woff') format('woff'),
		url('roboto-condensed/RobotoCondensed-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('roboto-condensed/RobotoCondensed-Italic.eot');
	src: url('roboto-condensed/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
		url('roboto-condensed/RobotoCondensed-Italic.woff2') format('woff2'),
		url('roboto-condensed/RobotoCondensed-Italic.woff') format('woff'),
		url('roboto-condensed/RobotoCondensed-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('roboto-condensed/RobotoCondensed-Bold.eot');
	src: url('roboto-condensed/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
		url('roboto-condensed/RobotoCondensed-Bold.woff2') format('woff2'),
		url('roboto-condensed/RobotoCondensed-Bold.woff') format('woff'),
		url('roboto-condensed/RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('roboto-condensed/RobotoCondensed-Regular.eot');
	src: url('roboto-condensed/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
		url('roboto-condensed/RobotoCondensed-Regular.woff2') format('woff2'),
		url('roboto-condensed/RobotoCondensed-Regular.woff') format('woff'),
		url('roboto-condensed/RobotoCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('roboto-condensed/RobotoCondensed-Light.eot');
	src: url('roboto-condensed/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
		url('roboto-condensed/RobotoCondensed-Light.woff2') format('woff2'),
		url('roboto-condensed/RobotoCondensed-Light.woff') format('woff'),
		url('roboto-condensed/RobotoCondensed-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('roboto-condensed/RobotoCondensed-LightItalic.eot');
	src: url('roboto-condensed/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('roboto-condensed/RobotoCondensed-LightItalic.woff2') format('woff2'),
		url('roboto-condensed/RobotoCondensed-LightItalic.woff') format('woff'),
		url('roboto-condensed/RobotoCondensed-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

//Main Element Style
.fixed-side-nav {
  padding-left: 240px;
  margin-left: 1%;
  margin-right: 2%;
  h3 {
    font-size: 1.7rem;
    margin-bottom: 7.5px;
  }
  h2 {
    font-size: 2.0rem;
    font-weight: 300;
  }
  .z-depth-1, .jumbotron, .author-box,
  .navbar,
  .badge,
  .chip, .btn, .card:not([class*="card-outline-"]), .pagination .active .page-link, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .social-list, .counter, .md-pills .nav-link.active, .card.card-cascade.wider .card-body, .card-wrapper .front,
  .card-wrapper .back, .dropdown-content, .side-nav, .section-blog-fw .view, #toast-container > div, .pricing-card .price .version {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  
  .z-depth-1-half, .btn:hover, .btn:active, .btn:focus, .modal-dialog .modal-content, .modal-dialog.cascading-modal .modal-header, ul.instagram-photos li img, .media .media-left img, .btn-floating, .nav-tabs, .nav-link.active:hover, .card.card-cascade.wider.reverse .card-body, .card.card-cascade.card-avatar img, .dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:active, .dropdown-content li.active span, .comments-list .badge,
  .reply-form .badge, .btn-floating.btn-flat.active, .picker__box .picker__table .picker__day--selected,
  .picker__box .picker__table .picker__day--selected:hover,
  .picker__box .picker__table .picker--focused, .pricing-card .header, .form-header {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  
  .z-depth-2, .modal-dialog.cascading-modal.modal-avatar .modal-header img, .btn-floating:hover, .card.card-cascade .view, .card-overlay, .dropdown-content li a:hover, .dropdown-content li span:hover, .comments-list img,
  .reply-form img, .testimonial-carousel .testimonial .avatar img {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  
  .z-depth-3 {
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  
  .z-depth-4 {
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }
  
  .z-depth-5 {
    -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }
}
@media (max-width: 992px) {
  .fixed-side-nav { padding-left: 0px; margin-left: 2%; }
  .nav-wrapper div.bc_nav { padding-left: 0px; }
}
//Container padding
.container-fluid {
  padding-bottom: 50px;
}

//Sidebar and Navbar Customizations
.side-nav.fixed {
  letter-spacing: 0px;
  transition-duration: 0.25s;
  color: #fff;
  max-width: 225px;
  a {
    padding-left: 10px;
    padding-right: 0px;
    display: block;
    height: 45px;
    line-height: 45px;
    text-transform: none;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 1.07em;
    -o-transition: .35s;
    -ms-transition: .35s;
    -moz-transition: .35s;
    -webkit-transition: .35s;
    transition: .35s;
    color: #fff;
  }
  .logo-wrapper {
    height: 62px;
    padding: 5px;
    padding-top: 8%;
    font-weight: 400;
    text-align: center;
    line-height: 6.5px;
    background: #fff;
    border-bottom: $navbar-border-color 1px solid;
    margin-bottom: 12px;
    .lead {
      color: $navbar-orange;
      font-size: 1.05em;
      font-weight: 500;
    }
  }
  .fa-angle-down.rotate-icon {
    min-width: 0;
    position: absolute;
    webkit-transition: all 150ms ease-in 0s;
    transition: all 150ms ease-in 0s;
  }
  li.direct_link {
    padding-left: 0.5rem;
    padding-right: 0.7rem;
  }
  li.active { background-color: transparent; }
  li > a {
    color: #fff;
    > i {
      color: $navbar-orange;
      margin-right: 5px;
      min-width: 20px;
      font-size: 1rem;
      line-height: 35px;
      float: none;
    }
  }
  li > a:hover { background: $navbar-hover-item; }
  .collapsible {
    margin-right: -5px;
    a {
      text-transform: none;
      margin-bottom: 0px;
      font-weight: 400;
      font-size: 1.07em;
      text-transform: none;
      text-transform: none;
      -o-transition: .35s;
      -ms-transition: .35s;
      -moz-transition: .35s;
      -webkit-transition: .35s;
      transition: .35s;
      color: #fff;
      height: 45px;
      line-height: 45px;
    }
    a:hover {
      background: $navbar-hover-item;
    }
    li a:hover {
      background: $navbar-hover-item;
    }
  }
  .collapsible > li {
    padding-left: 0.5rem;
    padding-right: 1rem;
    border-radius: 2px;
    a.collapsible-header:hover {
      background: $navbar-hover-item;
    }
  }
  .collapsible-header {
    padding: 0 8px;
  }
  .collapsible-body {
    background-color: transparent;
    li {
      height: 35px;
      margin-bottom: 5px;
      margin-top: 5px;
      a {
        padding-left: 40px;
        font-size: 1rem;
        line-height: 35px;
        height: 35px;
        background: none;
      }
    }
    a.active-item { background: $navbar-active-item }
    .fa {
      font-size: 0.80rem;
    }
  }
}

nav {
  height: 61px;
  ul {
    margin-right: 10px;
    li {
      height: 40px;
      margin-top: 15px;
      a.nav-menu {
        font-size: 0.9rem;
        line-height: 40px;
        display: block;
        font-weight: 300;
        i.fa {
          line-height: 40px;
          height: 40px;
        }
      }
    }
  }
}
.navbar-fixed {
  height: 62px;
  nav {
    top: 0;
    left: 0;
    a {
      color: #000;
    }
  }
}
nav a.button-collapse i.fa-bars {
  height: 70px;
  line-height: 70px;
  color: #afafaf;
  font-size: 1.5rem;
}
@media only screen and (min-width: 601px) {
  nav a.button-collapse i.fa-bars {
    height: 70px;
    line-height: 70px;
  }
}
.active .rotate-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 150ms ease-in 0s;
  transition: all 150ms ease-in 0s;
}

a:focus, a:hover {
  text-decoration: none;
}
a.btn:focus, a.btn:hover {
  color: #fff;
}
.active-item {
  background: $navbar-active-item;
}
.navbar {
  z-index: 801;
  border-bottom: $navbar-border-color 1px solid;
  .float-xs-left { margin-top: -4px; }
}

//Custom Breadcrumbs
div.bc_nav {
  color: #e3a245;
  padding-left: 240px;
  margin-top: 3px;
  font-size: 0.9rem;
}

//Main Page Background and font
html, body {
  background: $main-background;
  font-family: 'Roboto Condensed';
  font-size: 0.97rem;
}
main {
  font-family: 'Roboto Condensed';
}
@media (min-width: 1400px) {
  .fixed-sn main {
    margin-left: 3%;
    margin-right: 3%;
  }
}

//Small Font Customization
.form-group small, .small {
  font-size: 90%;
}

//Badge Customization
span.badge {
  font-size: 90%;
  font-weight: 300;
  color: #fff;
  margin-left: 0;
  float: left;
}

//Form-control and Input Customizations
.form-control {
  background: $form-white;
  border: 1px solid $form-border-color;
}
.form-control:focus {
  background: $form-white;
  border-color: $form-border-color;
}
label {
  font-size: 0.9rem;
  color: #000;
}
form .form-group label {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: 1px solid rgba(94, 94, 94, 0.65);
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #455A64;
  -webkit-box-shadow: 0 1px 0 0 #455A64;
  box-shadow: 0 1px 0 0 #455A64;
}
.form-control {
  max-width: 160px;
}
.special_small_input_text {
  margin-top: -1.8rem;
  font-size: 90%;
}
.special-top {
  margin-top: 1.4rem;
}
.form-no-input {
  border: none;
  padding-top: 9px;
  padding-bottom: 6px;
  width: 85px;
  background: #efefef
}
tr th [type="checkbox"]:not(:checked), tr th [type="checkbox"]:checked,
tr td [type="checkbox"]:not(:checked), tr td [type="checkbox"]:checked {
    position: relative;
    opacity: 1;
    pointer-events: none;
}

//Pagination Customization
.pagination .page-link {
  background-color: white;
  font-size: 0.8rem; 
}
.pagination .active .page-link {
  border-radius: 2px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.pagination .active .page-link:hover {
  color: #fff; 
}
.pagination.pagination-circle .page-link {
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
}
.pagination.pagination-circle .page-link:hover {
    border-radius: 50%;
}
.pagination.pagination-circle .active .page-link {
  border-radius: 50%;
}
.pagination .page-link {
  border: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.pagination .page-link:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #A5D6A7;
}
.pagination .page-link:focus {
  background-color: #A5D6A7;
}

//Filter Formatting
form#filters {
  select { display: none !important; }
  input.select-dropdown {
    max-width: 167px;
    min-width: 167px;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.75rem;
    webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0 5px;
    background: #E0E0E0;
    border-bottom: none;
  }
  input.select-dropdown:hover {
    webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .form-group {
    margin-bottom: 0;
    label {
      font-size: 0.9rem;
    }
  }
  div.row {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .dropdown-content {
    z-index: 80;
    padding: 0.5rem;
    li {
      line-height: 0.9rem;
      min-height: 0px;
      > span {
        font-size: 0.85rem;
        padding: 0;
        box-shadow: none;
        color: $select-text;
      }
    }
    li:first-child { display: none; }
  }
  [type="checkbox"] + label:before {
    width: 12px;
    height: 12px;
  }
  [type="checkbox"]:checked + label:before {
    width: 9px;
    height: 13px;
    top: -2px;
  }
  [type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    top: -4px;
  }
  .multiple-select-dropdown li [type="checkbox"] + label {
    height: 5px;
  }
  [type="radio"] + label, [type="checkbox"] + label {
    padding-left: 20px;
  }
  .select-wrapper span.caret {
    top: 4px;
    z-index: 2;
    right: 5px;
    color: black;
  }
}

//Card Button Customization
.card {
  border: none;
  #form_reveal {
    position: relative;
    font-size: 0.90rem;
    background: #F2F2F2;
    padding: 0.5rem;
  }
  .activator {
    position: relative;
  }
}

//Button Customizations
a.btn-outline-default {
  border: 2px solid $green-btn-outline;
  color: $button-text !important;
  line-height: 0.45rem;
  margin-top: 1rem;
  font-size: 0.8rem !important;
}
.btn-outline-default:hover, .btn-outline-default:focus, .btn-outline-default:active, .btn-outline-default:active:focus {
  border-color: $green-btn-outline;
}
.btn-outline-warning {
  border: 2px solid $orange-btn-outline;
  color: $button-text !important;
  padding: 8px 15px;
}
.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active, .btn-outline-warning:active:focus {
  border-color: $orange-btn-outline;
}
.btn.btn-sm, .btn-group-sm > .btn {
  font-size: 0.8rem;
  padding: 0.3rem 0.8rem;
  line-height: 0.9rem !important;
  margin-top: 1rem;
}
a.back {
  margin-bottom: 0.5rem;
}
.btn-outline-info {
  border: 2px solid $blue-btn-outline;
  color: $button-text !important;
  background: transparent;
}
.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info:active:focus {
  border-color: $blue-btn-outline;
}
.inv-card {
  margin-left: 0px;
  background: #efefef;
  margin-top: -10px;
  margin-bottom: -20px;
}
#del_credrow {
  border-radius: 5px;
  padding: 5px 12px !important;
  color: #fff;
  margin-top: 0;
  .fa {
    font-size: 1.0rem;
  }
}
#add_credrow:hover, #add_credrow:focus {
  background: transparent;
} 
.btn {
  letter-spacing: 0px;
  font-size: 0.75rem;
  height: 25px;
  line-height: 25px;
  padding: 0 0.5rem;
  i.fa {
    font-size: 1.0rem;
  }
}
td a.btn {
  font-size: 0.7rem;
}
a.btn-table {
  margin-top: 0 !important;
  line-height: 1.5rem !important;
}

// Card Customizations 
.card .card-reveal {
  z-index: 99;
  padding: 15px;
}
.card-block .alert p {
  margin-bottom: 0;
}
.ovf-hidden {
  min-height: 216px;
}
.card-block h5 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 300;
}
#card-table {
  max-width: 750px;
}
#card_invisible {
  height: 820px;
  display: none;
}
#inv_card_close {
  float: right;
  cursor: pointer;
}
.wider {
  max-width: 100% !important;
}
.card .card-reveal .card-title, #card_invisible .card-block .card-title {
  padding: 20px;
  color: white;
  margin: 0;
  margin-bottom: 10px;
  i {
    right: 30px;
    color: #e57373;
    position: absolute;
  }
  i.relative {
    position: relative;
    color: #ffb300;
    right: 5px;
  } 
}
.table-title {
  position: absolute;
}
@media screen and (max-width: 660px) {
  .card .card-reveal .card-title, #card_invisible .card-block .card-title { font-size: 1.2rem }
}

//Card Form Customization
form div.row {
  .form-group {
    margin-right: 2rem;
  }
}

//Table Customization
table.table {
  background: #efefef;
  border-radius: 0.25rem;
  th, td {
    padding: 0.3rem;
    vertical-align: middle;
  }
}
.page-item.active .page-link {
  background-color: #81c784;
}
.table-responsive #show_view_table {
  a {
    margin-left: 0;
    padding-left: 0.4rem;
    font-size: 1.2rem;
  }
  td, th {
    padding: 10px;
  }
}
.table-shadow {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.table-responsive #cred_details {
  td, th {
    padding: 10px;
  }
  a {
    margin-left: 0;
    padding-left: 0;
    font-size: 1.2rem;
  }
  #cred_detail_tbody tr td input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

//Async Details
#async_wrapper {
  margin-bottom: 20px;
}

//Spinkit Values
.sk-spinner-double-bounce {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 40px 55%;
}
.sk-double-bounce1 {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: #83A7BF;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
  animation: sk-doubleBounce 2s infinite ease-in-out;
}
.sk-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: #83A7BF;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
  animation: sk-doubleBounce 2s infinite ease-in-out;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.sk-spinner-double-bounce:before {
  content: "Contacting Foreman";
  font-size: 13.5px;
  display: inline-block;
  margin-left: -110px;
  color: rgba(66,85,99,0.7);
}

//Throbber
@-moz-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@-webkit-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
.throbber-loader:not(:required) {
  -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
  font-size: 4px;
  &:before, &:after {
    background: #dde2e7;
    content: '\x200B';
    display: inline-block;
    width: 0.9em;
    height: 1.5em;
    position: absolute;
    top: 0;
  }
  &:before {
    -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
    animation: throbber-loader 2000ms 150ms infinite ease-out;
    left: -1.6em;
  }
  &:after {
    -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
    animation: throbber-loader 2000ms 450ms infinite ease-out;
    right: -1.6em;
  }
}

//Overlay
.overlay-container {
  position: relative;
  min-height: 135px;
}
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 800;
  position: absolute;
  background: #f9f9f9;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.inner-overlay {
  position: relative;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
}
.overlay .fa {
  color: #8fabc1;
  margin-top: 10px;
  font-size: 2.3rem
}
.overlay .fa-spin {
  -webkit-animation: fa-spin 0.5s infinite linear;
  animation: fa-spin 0.5s infinite linear;
}
.overlay p {
  margin-top: 5px;
  font-weight: 600;
  font-size: 0.90rem;
  text-transform: uppercase;
  color: rgba(99, 113, 121, 0.7);
}


//Clearfix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
div.dataTables_wrapper .clearfix {
  margin-bottom: -30px;
}

//Ajax Messages
#success_explanation {
  padding: 20px;
  display: inline-block;
}
#error_explanation {
  padding: 20px;
  display: inline-block;
  ul {
    margin-bottom: 0
  }
}
#waiting_explanation {
  padding: 20px;
  display: inline-block;
}

//Flash Messages
#flash_error {
  padding: 20px;
  background: #e57373;
  display: inline-block;
}

#flash_success {
  padding: 20px;
  background: #81c784;
  display: inline-block;
}

//Timedock
p.time_dock {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
}

//Cache Indicator and Section Title
#cache-indicator {
  float: right;
  margin-top: 0.1rem;
  padding: 0 0.4rem;
  color: white;
  .fa-spin {
    -webkit-animation: fa-spin 0.4s infinite linear;
    animation: fa-spin 0.4s infinite linear;
  }
}
.section_title {
  float: left;
  strong {
    font-weight: bold;
  }
}

//BMC Host Table Customizations
.power_status {
  color: white;
  text-align: center;
  width: 50px;
  border-radius: 2px;
  font-weight: 300;
  font-size: 0.85rem;
}
.serial {
  font-weight: 600;
}
.model_wrapper {
  min-width: 325px;
  .model_cell {
  text-transform: uppercase;
  }
  .img-box {
    float: left;
    width: 57px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1900px) {
    .model_wrapper { min-width: 0; }
}
@media screen and (max-width: 1205px) {
  tbody { font-size: 0.9rem  }
}
.sync {
  padding: 0 0.5rem;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  font-weight: 300;
  font-size: 0.85rem;
  .fa-spin {
    color: #636c72;
    -webkit-animation: fa-spin 0.5s infinite linear;
    animation: fa-spin 0.5s infinite linear;
  }
}
