div#dif_alert {
  background-color: #798D8F;
}
div#dif_alert div.well {
  background-color: #798D8F;
  color: white;
}
div#dif_alert div.well table.table {
  display: inline-block;
  border: 1px solid;
  max-width: 250px;
  padding: 20px;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
