  <head>
    <title>Rails DCIM Portal</title>
    <meta charset="UTF-8">
    <meta name="description" content="Foreman Extension for Datacenter Asset Management">
    <meta name="author" content="Wes Miser">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%#= stylesheet_pack_tag 'rails_dcim_portal' %>
    <%#= javascript_pack_tag 'rails_dcim_portal' %>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

