<div class="table-refresh-alert alert orange lighten-2 z-depth-2" role="alert">
  <p>
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    Table data changed!  <span class="white-text reload-table" id="reload_table">Click here to refresh.</span>
  </p>
</div>
