<!DOCTYPE html>
<html>
  <%= render '/layouts/header' %>

  <body>
    <%= render '/layouts/admin_menu' %>
    <%= content_for :render_async %>
    <div id="modal_error" class="modal bottom-sheet"></div>
    <script>
      $('.button-collapse').sideNav({
        menuWidth: 225,
        edge: 'left'
      });
      $(document).ready(function () {
        $('.collapsible').collapsible({
          onOpen: function(e) {
            $(e).find('span.list_banner').html('Click to hide list');
          },
          onClose: function(e) {
            $(e).find('span.list_banner').html('Click to expand list');
          }
        });
        $('ul.tabs').tabs();
        $('#modal_error').modal();
        $('#onboard_modal').modal({
          startingTop: '0',
          endingTop: '0'
        });
      });
      $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
      });
    </script>
  </body>

</html>
