<!DOCTYPE html>
<html>
  <%= render '/layouts/header' %>

  <body>
    <%= render '/layouts/admin_menu' %>
    <%= content_for :render_async %>
    <script>
      $('.button-collapse').sideNav({
        menuWidth: 225,
        edge: 'left'
      });
      $(document).ready(function () {
        $('.collapsible').collapsible();
        $('ul.tabs').tabs();
      });
      $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225
      });
    </script>
  </body>

</html>
