<!DOCTYPE html>
<html>
  <%= render '/layouts/header' %>

  <body class="fixed-sn">
    <%= render '/layouts/bmc_menu' %>
    <%= content_for :render_async %>
    <%= javascript_include_tag '/javascripts/mdb.js' %>
    <script>
      $(".button-collapse").sideNav();
      var el = document.querySelector('.custom-scrollbar');
      Ps.initialize(el);
    </script>

  </body>

</html>
